name: App dev CI
on:
  push:
    branches: [main]
    paths:
      - 'Mobile-Application-development/**'
      - '.github/workflows/ci.yml'
  pull_request:
    branches: [main]
    paths:
      - 'Mobile-Application-development/**'
      - '.github/workflows/ci.yml'
jobs:
  Verify-code:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Mobile-Application-development
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/stup-node@v4
        with:
          node-version: '20'
      - name: install dependencies
        run: npm ci
      - name: run linter
        run: npm run lint
      - name: run type check
        run: npm run type-check
      - name: run test
        run: npm test -- --coverage --watchAll=false
